<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Skin Care |
            {% block tab_content %}{% endblock %}
        </title>
        <!-- LINKS -->
        <link rel="stylesheet" href="{% static 'style.css' %}?{% now " U" %} ">
        <link rel="stylesheet"
              href="{% static 'header_style.css' %}?{% now " U" %} ">
        <link rel="stylesheet" href="{% static 'home_style.css' %}?{% now " U" %} ">
        <link rel="stylesheet" href="{% static 'catalog_style.css' %}?{% now " U" %} ">
        <link rel="stylesheet" href="{% static 'product_style.css' %}?{% now " U" %} ">
        <!-- END OF LINKS -->
    </head>
    <body style=" margin: 0;">
        <div class="header-container">
            <div class="header--info">Free shipping with all orders only on 22.04.2023</div>
            <div class ="header--menu">
                <h3 style="padding:0px 10px;">GentleDerma</h3>
                <div class="header--menu-items">
                    <a href="/" class="menu-item">Home</a>
                    <a href="/catalog" class="menu-item">Catalog</a>
                    {% comment %} <a href="/consulting" class="menu-item">Consulting</a> {% endcomment %}
                </div>
                <div class="header--additional-items">
                    {% if user.is_seller %}
                    <a href="/product/add" class="menu-item">+ Add new product</a>
                    {% endif %}
                    <div class="header--cart">
                        <img src="{% static 'images/cart.png' %}" height="20px" width="20px">
                        <a href="/cart" class="menu-item">Cart</a>
                        <a href="/logout" class="menu-item">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        {% block page_content %}{% endblock %}
    </body>
</html>
